.articleItem {
    display: flex;
    flex-direction: row;    
    background-color: #FFFFFF;
    justify-content: space-between;
    &_preview{
        display: flex;
        flex-direction: column;   
        max-width: 941px;
        min-height: 94px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin: 24px auto;
    }
    &__articleInfo{
        flex-basis: 70%;
        margin: 20px 0 15px 20px;
        flex-wrap: wrap;
    }
    &__header{
        border: none;
        background-color: #FFFFFF;
        font-size: 20px;
    }
    &__likeButton {
        border: none;
        background-color: #FFFFFF;
        font-size: 12px;
    }
    &__tagList {
        list-style: none;
        padding: 0;
        background: transparent;
    }
    &__tag {
        display: inline-block;
        margin-right: 5px;
        padding: 2px 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
    }
    &__description {
        max-width: 100%;
        overflow-wrap: anywhere;
        margin-top: 5px;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
    }
    &__userInfo{
        display: flex;
        gap: 12px;
        margin: 15px 15px 0 0; 
    }
    &__username {
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
    }
    &__date {
        margin-top: -5px;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.5);
    }
    &__avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
    &__text {
        margin-left: 20px;
        font-family: 'Inter UI', sans-serif;
        font-size: 20px;
        line-height: 28px;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}